<footer id="footer">
  <div class="row">
    <div class="four columns with-logo" id="ContactFooter">
       <img src="/static/img/Identity.png" >
    </div>
    <div class="four columns">
      <p>
        <strong>Get in touch</strong>
        <br><a href="mailto:me@paddycole.com">me@paddycole.com</a>
      </p>
    </div>
    <div class="four columns">
      <p>
        <strong>Connect</strong>
        <br><a href="https://twitter.com/paddy_cole" target="_blank">twitter</a> - 
        <a href="https://www.linkedin.com/pub/paddy-cole/49/784/b88" target="_blank">linkedin</a>
      </p>
    </div>
  </div>
</footer>
