<footer id="footer">
  <div class="row">
    <div class="five columns">
      <p class="logo">Paddy Cole<br>UX &amp; Interaction Designer</p>
    </div>
    <div class="four columns">
      <p>
        <strong>Get in touch</strong>
        <br><a href="mailto:me@paddycole.com">me@paddycole.com</a>
      </p>
    </div>
    <div class="three columns">
      <p>
        <strong>Connect</strong>
        <br><a href="#">twitter</a> - <a href="#">linkedin</a>
      </p>
    </div>
  </div>
</footer>
