@import "normalize";
@import "skeleton";

// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

$project-button-width: 220px;
$project-button-height: 80px;
$project-black-border: 3px;
$project-white-border: 7px;

// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  text-align:center;
}

.navbar-item {
  margin-bottom: 0;

  &:first-child {
    float: left;
  }

  &:last-child {
    float: right;
  }
}

.navbar-link {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: $bold;
  letter-spacing: .3rem;
  margin: 0 1.4rem;
  text-decoration: none;
  line-height: 5.5rem;
  color: $dark-grey;
  display: inline-block;

  &:hover {
    color: $primary-color;
  }
}



//@media (#{$bp-larger-than-phablet}) {
  .navbar-item {
    display: inline;
  }
//}


body.project {
  .navbar {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  }
}

// Structure
//––––––––––––––––––––––––––––––––––––––––––––––––––

html, body{
  height:100%;
}


.background-main{
  background-color: $primary-color;
  color: #fff;
  height: 93.6vh;
  text-align: center;
  border-bottom: 1px solid white;
}

.background-bottom-1{
  background-color: $primary-color;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 2vh;
}

.background-bottom-2{
  background-color: rgba(230, 85, 47, 0.9);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 1.5vh;
}

.background-bottom-3{
  background-color: rgba(230, 85, 47, 0.85);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 1vh;
}

.background-bottom-4{
  background-color: rgba(230, 85, 47, 0.80);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 0.5vh;
}

.background-bottom-5{
  background-color: rgba(230, 85, 47, 0.75);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 0.2vh;
  margin-bottom: 9em;
}
  
h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: $bold;
  color: $primary-color;

  &.title {
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 4.5em;
  }

  &.title-two{
    letter-spacing: .3em;
    text-align: center;
    margin-bottom: 4.5em;
  }
}

#header img {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 280px;
}

.project-preview {
  border: $project-black-border solid $dark-grey;
  padding: $project-white-border;
  position: relative;
  margin-bottom: 9em;
}

.project-image {
  height: 400px;
  //max-height: 400px;
  //max-width: 608px;
  background-image: url('http://placehold.it/600x400');
  background-position: center;
  //background-size: 100%;
  background-repeat: no-repeat;

  &.martian {
    background-image: url('/static/img/Martian/1.Martian_Project_Tile.jpg');
  }

  &.farmdrop {
    background-image: url('/static/img/Farmdrop/1.Farmdrop_Project_Tile.jpg');
  }

  &.cupolarider {
    background-image: url('/static/img/CupolaRider/1.CupolaRider_Project_Tile.jpg');
  }
}

.project-button-cutout {
  background-color: #fff;
  width: $project-button-width + ($project-white-border * 2);
  height: ($project-button-height / 2);
  position: absolute;
  bottom: $project-white-border - ($project-black-border / 2);
  left: 50%;
  margin-left: -(($project-button-width + ($project-white-border * 2)) / 2);
  display: inline-block;
}

.project-button {
  height: $project-button-height;
  width: $project-button-width;
  padding: 13px 8px 10px;
  position: absolute;
  left: 50%;
  bottom: -(($project-button-height / 2) + ($project-black-border / 2));
  margin-left: -($project-button-width / 2);
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  font-size: 1.7rem;
  white-space: nowrap;
  box-sizing: border-box;

  > span {
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}

// .post-image {
//   background-image: url('');
// }
article.post {
  margin-top: 6em;

  p {
    font-size: 1.2em;
    line-height: 1.8em;
    color: $grey;
  }

  .row {
    margin-bottom: 4em;
  }

  img {
    width: 100%;
    margin-bottom: 1em;
  }
}

.project-image-large {
  margin-top: 9em;
  width: 100%;

    & martian-header {
      background-image: url('/static/img/Martian/Martian-Header-2x.jpg');
    }

    & farmdrop-header {
      background-image: url('/static/img/Farmdrop/Farmdrop-Header.jpg');
    }
}

.project-tag-wrapper {
  margin-top: 5em;
  text-align: center;
}



.project-tag {
  display: inline-block;
  border: 1px solid $light-grey;
  border-radius: 2px;
  padding: .8em;
  margin-left: 1em;
  margin-bottom: 1em;

  p {
    text-transform: uppercase;
    //font-style: italic;
    color: $light-grey;
    margin: 0;
  }
}

#footer {
  padding: 3.4em 1em 3.2em;
  margin-top: 6em;
  background-color: $primary-color;
  color: #fff;

  .columns {
    text-align: center;
    margin-bottom: 2em;
  }

  .with-logo img {
    width: 200px;
  }

  a {
    color: #fff;
  }

  p {
  margin-bottom: 0;
  }

  strong {
    line-height: 1.3em;
  }
}

// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Larger than mobile
@media (#{$bp-larger-than-mobile}) {

}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {
  #header img {
    width: 520px;
  }
}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {
  #footer {
    .with-logo img {
      width: 280px;
    }

    p {
      margin-top: 10px;
    }

    .columns {
      margin-bottom: 0;
    }
  }

  .navbar-link {
    margin: 0 5rem;
  }

  .navbar-item {
    &:first-child {
      float: none;
    }

    &:last-child {
      float: none;
    }
  }

}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
  #footer {
    .with-logo img {
      width: 320px;
    }
  }
}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}
