@import "normalize";
@import "skeleton";

// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

$project-button-width: 220px;
$project-button-height: 80px;
$project-black-border: 3px;
$project-white-border: 7px;

// Navigation
//––––––––––––––––––––––––––––––––––––––––––––––––––

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  text-align:center;
}

.navbar-item {
  display: inline;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: $bold;
  letter-spacing: .1rem;
  margin: 0 40px;
  text-decoration: none;
  line-height: 6.5rem;
  color: $dark-grey;
  display: inline-block;
}

// Structure
//––––––––––––––––––––––––––––––––––––––––––––––––––

#header {
  background-color: $primary-color;
  padding: 15em 0;
  color: #fff;
  text-align: center;
}

main {
  margin-top: 8em;
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-weight: $bold;
  color: $primary-color;

  &.title {
    text-align: center;
    margin-bottom: 4em;
  }
}

.project-preview {
  border: $project-black-border solid $dark-grey;
  padding: $project-white-border;
  position: relative;
  margin-bottom: 9em;
}

.project-image {
  height: 400px;
  background-image: url('http://placehold.it/600x400');
}

.project-button-cutout {
  background-color: #fff;
  width: $project-button-width + ($project-white-border * 2);
  height: ($project-button-height / 2);
  position: absolute;
  bottom: $project-white-border;
  left: 50%;
  margin-left: -(($project-button-width + ($project-white-border * 2)) / 2);
  display: inline-block;
}

.project-button {
  height: $project-button-height;
  width: $project-button-width;
  padding: 13px 8px 10px;
  position: absolute;
  left: 50%;
  bottom: -(($project-button-height / 2) + ($project-black-border / 2));
  margin-left: -($project-button-width / 2);
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  font-size: 1.7rem;
  white-space: nowrap;
  box-sizing: border-box;

  > span {
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}

#footer {

}
